@import "./scss/variables";
@import "./scss/pages/home";
body {
  margin: 0;
  .text-center {
    text-align: center;
  }
  .text-uppercase {
    text-transform: uppercase;
  }
  .text-underline {
    text-decoration: underline;
  }
  .cursor-pointer {
    cursor: pointer;
  }
}
