$primary: #68a427;
$secondary: #323232;
$danger: rgb(163, 55, 55);
$warning: rgba(216, 190, 74, 0.959);
$defaultBackgroundColor: #eee;
$containerPadding: 10px;
$white: #fff;
$black: #000;
$font_poppins: 'Poppins', sans-serif;
$font_10: 10px;
$font_11: 11px;
$font_12: 12px;
$font_13: 13px;
$font_14: 14px;
$font_15: 15px;
$font_16: 16px;
$font_17: 17px;
$font_18: 18px;
$font_20: 20px;
$bg-gray:#f2f2f2;
$theme-color:#5fa01b;
$text-color:#43425d;
$light-text:#4d4f5c;
