$primary: #68a427;
$secondary: #323232;
$danger: rgb(163, 55, 55);
$warning: rgba(216, 190, 74, 0.959);
$default-background-color: #eee;
$container-padding: 10px;
$white: #fff;
$black: #000;
$font-poppins: "Poppins", sans-serif;
$font-extra-small : 11px;
 $font-medium: 14px;
 $font-regular: 15px;
 $font-large : 18px;
 $font-extra-large: 32px;
$bg-gray: #f2f2f2;
$theme-color: #5fa01b;
$text-color: #43425d;
$light-text: #4d4f5c;
