$primary: #68a427;
$secondary: #323232;
$danger: rgb(163, 55, 55);
$warning: rgba(216, 190, 74, 0.959);
$default-background-color: #eee;
$container-padding: 10px;
$white: #fff;
$black: #000;
$font_poppins: "Poppins", sans-serif;
$font-10: 10px;
$font-11: 11px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-17: 17px;
$font-18: 18px;
$font-20: 20px;
$bg-gray: #f2f2f2;
$theme-color: #5fa01b;
$text-color: #43425d;
$light-text: #4d4f5c;
